<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="content">
        <div id="games"><a href="/games/flappy_rock">камень летает</a></div>
        <div id="box">
            <form method="POST">
                {% csrf_token %}
                <button class="btn btn-primary" id="play">unlock new rock</button>
            </form>
        </div>
    </div>
        
</body>
<script>
    var error = "{{error}}";

    if (error == "не хватает опыта") {
        alert(error)
    }
</script>
</html>
