<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="content">
        <div id="games"><a href="/games/flappy_rock">камень летает</a></div>
        <div id="box">
            <form method="POST">
                {% csrf_token %}
                <button class="btn btn-primary" id="play">unlock new rock</button>
            </form>
        </div>
    </div>
        
</body>
<script>
    var success = "{{success}}";

    if (success == "false") {
        alert("недостаточно опыта: {{xp}} из 50")
    }
    else if (success == "true") {
        alert("вы разблокировали новый скин")
    }
    
</script>
</html>

<style>


#games {
    display: flex;
    border: 5px solid black;
    width: 100%;
    height: 400px;
}
#box {
    margin-top: 10px;
    border: 5px solid black;
    width: 100%;
    align-items: center;
    height: 100px;
}

#play {
    width: 50%;
    height: 100px;
}

</style>